@import url('fonts.css');


.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-content {
    flex-grow: 1;
    position: relative;
}

.header-content__img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}